div{
    width: 200px;
    background-color: purple;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    margin: 100px 0px;
    position: relative;
    animation: ani 5s linear 1s 2 alternate;
}

    @keyframes ani {
    0% {
    background-color:#909;left:0px;

    }
    25% {
    background-color:#C3F;left:20%;
    }
    50% {
    background-color:#F9F;left:40%;
    transform:rotate(180deg)
    }
    75% {
    background-color:#F6F;left:60%;
    }
    100% {
    background-color:#F0F;left:85%;
    }
}